<h1>Editing Genre</h1>

<%= render 'form', genre: @genre %>

<span class="btn btn-outline-primary"> <%= link_to 'Show', @genre %> </span>
<span class="btn btn-outline-primary"> <%= link_to 'Back', genres_path %> </span>
