<p id="notice"><%= notice %></p>

<h1>User page</h1>

<section id="fanfics">
  <%= render @user.fanfic_id %>
</section>

<%= will_paginate @fanfics, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>

<!--<section id="fanfics">-->
<!--  <table class="table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th> Title </th>-->
<!--      <th> Body </th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tbody>-->
    <%# @fanfics.each do |fanfic| %>
<!--      <tr>-->
<!--        <td><%#= link_to fanfic.title, fanfic_path(fanfic) %></td>-->
<!--        <td><%#= fanfic.body %></td>-->
<!--        <td>-->
          <%#= link_to 'Edit', edit_fanfic_path(fanfic), class: 'btn btn-outline-primary btn-sm' %>
          <%#= link_to 'Destroy', @fanfic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %>
<!--        </td>-->
<!--      </tr>-->
    <%# end %>
<!--    </tbody>-->
<!--  </table>-->
<!--</section>-->



